%ul.nav.nav-pills.navbar-right
  %li
    %p.navbar-text.navbar-right
      %a.btn.btn-default{:href => new_chord_path}
        新規作成

.table-responsive
  %table.table.table-striped
    %thead
      %tr
        %th タイトル
        %th 更新日
        %th
    %tbody
      - @chords.each do |chord|
        %tr
          %td
            = link_to chord.title, chord
          %td.text-muted
            = chord.updated_at.strftime("%Y-%m-%d %H:%M")
          %td
            = link_to '', chord, method: :delete, data: { confirm: 'Are you sure?' }, class: "glyphicon glyphicon-remove", "data-original-title" => "削除", rel: "tooltip"
