%h1 コード一覧

= link_to 'New Chord', new_chord_path

%table.table.table-bordered.table-striped
  %thead
    %tr
      %th タイトル
      %th 更新日
      %th
  %tbody
    - @chords.each do |chord|
      %tr
        %td
          = link_to chord.title, chord
        %td
          = l chord.updated_at
        %td
          = link_to '削除', chord, method: :delete, data: { confirm: 'Are you sure?' }
