%link{rel: "stylesheet",type: "text/css", href: "style.css"}

%h1 aaaa

- s = Chordpro::Parser.new.parse("[C]もしもし [G7]かめよ")
- def chord_image(chord)
  - "./chord/C.png"

%div{class: 'line'}
  %div{class: 'chord'}
    %img{src: chord_image(s[:song][0][:line][0][:chord]), alt: s[:song][0][:line][0][:chord]}
    %br
    = s[:song][0][:line][0][:chord]
    %br
    = s[:song][0][:line][1][:lyric]
  %div{class: 'chord'}
    %img{src: './chord/C.png', alt: 'G7'}
    %br
    G7
    %br
    かめよ
  %div{class: 'chord'}
    %img{src: './chord/Am.png', alt: 'Am'}
    %br
    Am
    %br
    かめさん
  %div{class: 'chord'}
    %img{src: './chord/Am.png', alt: 'C'}
    %br
    C
    %br
    よ

%div{class: 'line'}
  %div{class: 'chord'}
    %img{src: './chord/C.png', alt: 'C'}
    %br
    C
    %br
    もしもし
  %div{class: 'chord'}
    %img{src: './chord/C.png', alt: 'G7'}
    %br
    G7
    %br
    かめよ
  %div{class: 'chord'}
    %img{src: './chord/Am.png', alt: 'Am'}
    %br
    Am
    %br
    かめさん
  %div{class: 'chord'}
    %img{src: './chord/Am.png', alt: 'C'}
    %br
    C
    %br
    よ

