%link{rel: "stylesheet",type: "text/css", href: "style.css"}

%h1 aaaa
%p
  - hello = "world"
  %b
    = hello

%div{class: 'line'}
  %div{class: 'chord'}
    %img{src: './chord/C.png', alt: 'C'}
    %br
    C
    %br
    もしもし
  %div{class: 'chord'}
    %img{src: './chord/C.png', alt: 'G7'}
    %br
    G7
    %br
    かめよ
  %div{class: 'chord'}
    %img{src: './chord/Am.png', alt: 'Am'}
    %br
    Am
    %br
    かめさん
  %div{class: 'chord'}
    %img{src: './chord/Am.png', alt: 'C'}
    %br
    C
    %br
    よ

%div{class: 'line'}
  %div{class: 'chord'}
    %img{src: './chord/C.png', alt: 'C'}
    %br
    C
    %br
    もしもし
  %div{class: 'chord'}
    %img{src: './chord/C.png', alt: 'G7'}
    %br
    G7
    %br
    かめよ
  %div{class: 'chord'}
    %img{src: './chord/Am.png', alt: 'Am'}
    %br
    Am
    %br
    かめさん
  %div{class: 'chord'}
    %img{src: './chord/Am.png', alt: 'C'}
    %br
    C
    %br
    よ

